In [2]:
#task1
row=int(input("enter input1: "))
col=int(input("enter input2: "))

for i in range(row):
  for j in range(1,col+1):
    print(j,end='')
  print()

enter input1: 4
enter input2: 6
123456
123456
123456
123456

In [6]:
#t2
input1=int(input("enter input1: "))
for i in range(1,input1+1):
  for j in range(i):
    print('*',end='')
  print()

enter input1: 6
*
**
***
****
*****
******

In [8]:
#t3
input1=int(input("enter input1: "))
for i in range(1,input1+1):
  for j in range(1,i+1):
    print(j,end='')
  print()

enter input1: 4
1
12
123
1234

In [11]:
#t4
input1=int(input('enter input1: '))
space=input1-1
for i in range(1,input1+1):
  for sp in range(space):
    print(" ",end='')
  for j in range(i):
    print('*',end='')
  space-=1
  print()

enter input1: 7
      *
     **
    ***
   ****
  *****
 ******
*******

In [14]:
#t5
input1=int(input('enter input1: '))
space=input1-1
for i in range(1,input1+1):
  for sp in range(space):
    print(" ",end='')
  for j in range(1,i+1):
    print(j,end='')
  space-=1
  print()

enter input1: 4
   1
  12
 123
1234

In [18]:
#t6
input1=int(input('enter input1: '))
space=input1-1
star=1
for i in range(input1):
  for sp in range(space):
    print(" ",end='')
  for j in range(star):
    print('*',end='')
  space-=1
  star+=2
  print()

enter input1: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [20]:
#t7
input1=int(input('enter input1: '))
space=input1-1
star=1
for i in range(input1):
  for sp in range(space):
    print(" ",end='')
  for j in range(1,star+1):
    print(j,end='')
  space-=1
  star+=2
  print()

enter input1: 3
  1
 123
12345

In [23]:
#t8
input1=int(input('enter input1: '))
space=input1-1
star=1
for i in range(input1):
  for sp in range(space):
    print(" ",end='')
  for j in range(1,star+1):
    print('*',end='')
  space-=1
  star+=2
  print()  
space+=2
star-=4  
for i in range(input1-1):
  for sp in range(space):
    print(" ",end='')
  for j in range(1,star+1):
    print('*',end='')
  space+=1
  star-=2
  print()

enter input1: 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [24]:
#t9
input1=int(input('enter input1: '))
space=input1-1
star=1
for i in range(input1):
  for sp in range(space):
    print(" ",end='')
  for j in range(1,star+1):
    print(j,end='')
  space-=1
  star+=2
  print()  
space+=2
star-=4  
for i in range(input1-1):
  for sp in range(space):
    print(" ",end='')
  for j in range(1,star+1):
    print(j,end='')
  space+=1
  star-=2
  print()

enter input1: 4
   1
  123
 12345
1234567
 12345
  123
   1

In [28]:
#t10
length=int(input('enter length: '))
width=int(input('width: '))

for i in range(length):
  if i==0 or i==length-1:#for first and last line
    for j in range(width):
      print('*',end='')
    print()  
  else:#for middle lines
    for j in range(width):
      if j==0 or j==width-1:
        print('*',end='')
      else:
        print(' ',end='')
    print()

enter length: 5
width: 8
********
*      *
*      *
*      *
********

In [30]:
#t11
length=int(input('enter length: '))
width=int(input('width: '))

for i in range(length):
  if i==0 or i==length-1:#for first and last line
    for j in range(1,width+1):
      print(j,end='')
    print()  
  else:#for middle lines
    for j in range(1,width+1):
      if j==1 or j==width:
        print(j,end='')
      else:
        print(' ',end='')
    print()

enter length: 6
width: 4
1234
1  4
1  4
1  4
1  4
1234

In [32]:
#t12
height=int(input('enter height: '))

for i in range(height):
  if i==0:#first line
    print('*',end='')
    print()
  elif i==height-1:#;last line
    for j in range(height):
      print('*',end='')  
    print()
  else:#for lines in between,  starting from 2nd line
    for j in range(i+1):#2nd line i=1,so made i+1 as need two stars
      space=(i+1)-2
      if  j==0 or j==i:
        print('*',end='')
      else:
        print(' ',end='')
    print()

enter height: 7
*
**
* *
*  *
*   *
*    *
*******

In [34]:
#t13
height=int(input('enter height: '))

for i in range(height):
  if i==0:#first line
    print(1,end='')
    print()
  elif i==height-1:#;last line
    for j in range(1,height+1):
      print(j,end='')  
    print()
  else:#for lines in between,  starting from 2nd line
    for j in range(i+1):#2nd line i=1,so made i+1 as need two stars
      space=(i+1)-2
      if  j==0 or j==i:
        print(j+1,end='')
      else:
        print(' ',end='')
    print()

enter height: 8
1
12
1 3
1  4
1   5
1    6
1     7
12345678

In [40]:
#t14
height=int(input('enter height: '))
space=height-1
for i in range(height):
  for sp in range(space):
    print(' ',end='')
  space-=1
  if i==0:#first line
    print('*',end='')
    print()
  elif i==height-1:#last line
    for j in range(height):
      print('*',end='')
    print()      
  else:
    for j in range(i+1):
      if j==0 or j==i:
        print('*',end='')
      else:
        print(' ',end='')  
    print()

enter height: 8
       *
      **
     * *
    *  *
   *   *
  *    *
 *     *
********

In [42]:
#t15
height=int(input('enter height: '))
space=height-1
for i in range(height):
  for sp in range(space):
    print(' ',end='')
  space-=1
  if i==0:#first line
    print(1,end='')
    print()
  elif i==height-1:#last line
    for j in range(1,height+1):
      print(j,end='')
    print()      
  else:
    for j in range(i+1):
      if j==0 or j==i:
        print(j+1,end='')
      else:
        print(' ',end='')  
    print()

enter height: 5
    1
   12
  1 3
 1  4
12345

In [11]:
#t16
inp=int(input('enter height: '))

space=inp-1
count=3#for lines between 1st and last
for i in range(1,inp+1):
  for sp in range(space):
    print(' ',end='')
  space-=1
  if i==1:
    print(i)
  elif i==inp:
    for j in range(1,count+1):
      print(j,end='')
    print() 
  else:
    for j in range(1,count+1):
      if j==1 or j==count:
        print(j,end='')
      else:
        print(' ',end='')
    print()      
    count+=2

enter height: 5
    1
   1 3
  1   5
 1     7
123456789

In [20]:
#t17
inp=int(input('enter height: '))

space=inp-1
count=3#for lines between 1st and last
for i in range(1,inp+1):
  for sp in range(space):
    print(' ',end='')
  space-=1
  if i==1:
    print(i)
  else:
    for j in range(1,count+1):
      if j==1 or j==count:
        print(j,end='')
      else:
        print(' ',end='')
    print()      
    count+=2       
#----------rest of triangle--
space+=2
count-=4
for i in range(1,inp+1):
  for sp in range(space):
    print(' ',end='')
  space+=1
  for j in range(1,count+1):
    if j==1 or j==count:
       print(j,end='')
    else:
       print(' ',end='')
  print()      
  count-=2

enter height: 5
    1
   1 3
  1   5
 1     7
1       9
 1     7
  1   5
   1 3
    1

In [14]:
#t18
num=int(input('enter number: '))
for i in range(1,num+1):
  print(i,end='')
last=num-1  
for j in range(num-1):
  print(last,end='')
  last-=1

enter number: 7
1234567654321

In [2]:
#t19 CORRECT
def pal(num): #palindrome function
  for i in range(1,num+1):
    print(i,end='')
  last=num-1  
  for j in range(num-1):
    print(last,end='')
    last-=1
#pal(5)      

inp=int(input('enter input: '))
newinp=inp-1
space=newinp-1
for i in range(1,newinp+1):
  for j in range(space):
    print(' ',end='')
  space-=1
  pal(i)  
  print()

enter input: 7
     1
    121
   12321
  1234321
 123454321
12345654321

In [47]:
#t20
N=int(input('enter height: '))
space=N-2
for i in range(N):
  if i==0 or i==N-1:
    for j in range(N):
      print('*',end='')
    print()
  else:
    for sp in range(space):
      print(' ',end='')
    space-=1
    print('*',end='')
    print()

enter height: 5
*****
   *
  *
 *
*****