In [3]:
#Q1
List1 = [90,30,-30,20,12]
List2 = [-8,-5,-2,100,6]
rev=len(List2)-1
for i in range(len(List1)):
  print(List1[i],List2[rev])
  rev-=1

90 6
30 100
-30 -2
20 -5
12 -8

In [6]:
#Q2
#input: Red,Green,Blue,White,Black
list1=input("Enter list separated by comma: ").split(',')
list2=[]
for i in list1:
  list2.append(i[::-1])
print(list2)

Enter list separated by comma: Red,Green,Blue,White,Black
['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [15]:
#Q3
list1=input("Enter list separated by comma: ").split(',')

for i in range(len(list1)):#turning values to integer
  list1[i]=int(list1[i])
even1='not found'
odd1='not found'
for i in list1:
  if i%2==0:#even
    even1=i
    break
for i in list1:
  if i%2==1:#odd
    odd1=i
    break      
print('First even:'+str(even1)+' and First odd:'+str(odd1))

Enter list separated by comma: 50, 52, 6, 2, 10
First even:50 and First odd:not found

In [19]:
#Q4
T = ['p', 'q', 'r','s']
N = 2
result=[]
for i in range(1,N+1):
  for j in T:
    result.append(str(j)+str(i))
print(result)

['p1', 'q1', 'r1', 's1', 'p2', 'q2', 'r2', 's2']