In [ ]:
#Q1
inp1=input('enter input: ')
letter=0
digits=0
character=0
for i in inp1:
  if (ord(i)>=65 and ord(i)<=90) or (ord(i)>=97 and ord(i)<=122):
    letter+=1
  elif ord(i)>=48 and ord(i)<=57:
    digits+=1
  else:
    character+=1

print('The number of Alphabets in the string is:',letter)
print('The number of Digits in the string is:',digits)
print('The number of Special characters in the string is:',character)

enter input: This is CSE110 Course.
The number of Alphabets in the string is: 15
The number of Digits in the string is: 3
The number of Special characters in the string is: 4

In [ ]:
#Q2
inp1=input('enter input: ').split(' ')
print(inp1)
largest=0
lw='' #largest word
smallest=len(inp1[0])
sw=inp1[0]

count=0
word=''
for i in inp1:
  if i.isalpha():#if i contains only letters
    length=len(i)
    if length>largest:
      largest=length
      lw=i
    if length<smallest:
      smallest=length
      sw=i
  else:#if i contains . for example
    for j in i:
      if (ord(j)>=65 and ord(j)<=90) or (ord(j)>=97 and ord(j)<=122):#if a letter
        count+=1
        word+=j
    length=count
    if length>largest:
      largest=length
      lw=word
    if length<smallest:
      smallest=length
      sw=word
    count=0 
    word=''          


print('The largest word is “'+lw+'” and the smallest word is \''+sw+'\'.')

enter input: It is a string with the smallest and largest wordingsed.
['It', 'is', 'a', 'string', 'with', 'the', 'smallest', 'and', 'largest', 'wordingsed.']
The largest word is “wordingsed” and the smallest word is 'a'.

In [3]:
#Q3
inp1=input("enter string1: ").lower()
inp2=input("enter string2: ").lower()
result=''
for i in inp1:
  if i not in inp2:
    result+=i
print(result)

enter string1: this is cSe110 course and we love it
enter string2: i1oalv
ths s cse0 curse nd we e t

In [14]:
#Q4 #made sure any amount of spaces between words are conserved
inp1=input("enter string1: ")
if ord(inp1[0])>=97 and ord(inp1[0])<=122:#if 1st letter of string small
  result=chr(ord(inp1[0])-32)
else:
  result=inp1[0]  
for i in range(1,len(inp1)):
  if ord(inp1[i])>=97 and ord(inp1[i])<=122 and inp1[i-1]==" ":
    result+=chr(ord(inp1[i])-32)
  else:
    result+=inp1[i]
print(result)

enter string1: I   love   python programming
I   Love   Python Programming

In [22]:
#Q5
print(list1)
product=1
for i in list1:
  product*=int(i)
print("Product:",product)

enter string1: 1,2,3,4,5
['1', '2', '3', '4', '5']
Product: 120

In [28]:
#Q6
num=int(input("enter string1: "))
sum=0
term='1'
series=''
for i in range(num):
  sum+=int(term)
  series+=term+' + '
  term+='1'
print(series[:-3])
print("The Sum is:",sum)

enter string1: 8
1 + 11 + 111 + 1111 + 11111 + 111111 + 1111111 + 11111111
The Sum is: 12345678

In [31]:
#Q7
num=int(input("enter string1: "))
for i in range(1,11):
  prod=num*i
  print(str(num)+"X"+str(i)+'='+str(prod))

enter string1: 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50