# CSE110 Lab Assignment 5

This Assignment is to help you develop your concept of Tuples and Dictionaries in Python.

Write your name, student ID and CSE110 theory section number below:

In [ ]:
#STUDENT NAME:
#STUDENT ID:
#CSE110 THEORY SECTION:

## Write the code in Python to do the following tasks:

**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

## Part 1: Tuple

### Task 1

Assume, you have been given a tuple.

a_tuple = ("The Institute",\
        ("Best Mystery & Thriller", "The Silent Patient", 68821),\
        75717,\
        [1, 2, 3, 400, 5, 6, 7],\
        ("Best Fiction", "The Testaments", 98291)\
)

Write **one line** of Python code to access and print the value 400.

===================================================================

Output: 400

===================================================================

In [1]:
#to do
a_tuple = ("The Institute",("Best Mystery & Thriller", "The Silent Patient", 68821),75717,[1, 2, 3, 400, 5, 6, 7],("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

### Task 2

Assume, you have been given a tuple. Write a Python program that creates a **new tuple** excluding the first and last two elements of the given tuple and prints the new tuple. 

**Hint:** You may use tuple slicing.

===================================================================

**Sample Input 1:**\
(10, 20, 24, 25, 26, 35, 70)


**Sample Output 1:**\
(24, 25, 26)

===================================================================

**Sample Input 2:**\
(-10, 20, 30, 40)


**Sample Output 2:**\
()

===================================================================

**Sample Input 3:**\
(-10, 20, 25, 30, 40)


**Sample Output 3:**\
(25,)

===================================================================

In [5]:
#to do
a_tuple   = (-10, 20, 25, 30, 40)
new_tuple = a_tuple [2:-2] 

print(new_tuple)

(25,)

### Task 3

Assume, you have been given a tuple. 


book_info = (\
    ("Best Mystery & Thriller","The Silent Patient",68,821),\
    ("Best Horror","The Institute",75,717),\
    ("Best History & Biography","The five",31,783 ),\
    ("Best Fiction","The Testaments",98,291)\
)

Write a Python program that prints the size of the tuple and all its elements as shown below.

===================================================================

**Output:**\
Size of the tuple is: 4\
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)\
('Best Horror', 'The Institute', 75, 717)\
('Best History & Biography', 'The five', 31, 783)\
('Best Fiction', 'The Testaments', 98, 291)

===================================================================

In [6]:
#to do
#Todo
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

size = len(book_info)

print('size of the tuple is: ',size)
for i in book_info:
    print(i)

size of the tuple is:  4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

### Task 4

Assume, you have been given a tuple with details about books that won the Good Reads Choice Awards. 

book_info = (\
    ("Best Mystery & Thriller","The Silent Patient",68821),\
    ("Best Horror","The Institute",75717),\
    ("Best History & Biography","The five",31783 ),\
    ("Best Fiction","The Testaments",98291)\
)

Write a Python program that prints the award category, the book name, and its total votes earned as shown below. 

**<font color='red'>[Must use Tuple unpacking for printing and need to handle the quotation marks as a part of the output]</font>**

===================================================================

**Output:**\
The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes\
The Institute won the 'Best Horror' category with 75717 votes\
The five won the 'Best History & Biography' category with 31783 votes\
The Testaments won the 'Best Fiction' category with 98291 votes

===================================================================

In [7]:
#to do
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for tupple in book_info:
  first, second, third = tupple       #unpacking
  print(second ,'won the'  ,"'"+first+"'", 'category with', third ,'votes')

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [9]:
#to do
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

first, second, third, fourth = book_info         #unpacking

print(first[1] ,'won the'  ,"'", first[0]  ,"'", 'category with', first[2] ,'votes')
print(second[1],'won the'  ,"'", second[0] ,"'", 'category with', second[2],'votes')
print(third[1] ,'won the'  ,"'", third[0]  ,"'", 'category with', third[2] ,'votes')
print(fourth[1],'won the'  ,"'", fourth[0] ,"'", 'category with', fourth[2],'votes')

The Silent Patient won the ' Best Mystery & Thriller ' category with 68821 votes
The Institute won the ' Best Horror ' category with 75717 votes
The five won the ' Best History & Biography ' category with 31783 votes
The Testaments won the ' Best Fiction ' category with 98291 votes

### Task 5
Write a python program that takes an input from the user and finds the number of times that the input is present in a given tuple.

===================================================================

<b>Example 1: </b><br/>

Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2) <br/>

<b>Sample Input 1:</b> 

8<br/>

<b>Sample Output 1: </b> <br/>

8 appears 4 times in the tuple<br/>

===================================================================

<b> Example 2 </b><br/>

Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)<br/>

<b>Sample Input 2:</b>

1<br/>

<b>Sample Output 2:</b><br/>

1 appears 0 times in the tuple

===================================================================

In [10]:
#to do
a_tuple=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
user_input=int(input('enter a number: '))
count=0
for i in a_tuple:
    if (i==user_input):
        count+=1
print(user_input,'appears',count,'times in the tuple')

enter a number: 8
8 appears 4 times in the tuple

### Task 6
Write a Python program to reverse a given tuple. 

 
  <font color='red'>[You are not allowed to use tuple slicing]</font>
  
===================================================================

<b>Note: </b>  Unlike lists, tuples are immutable. So, in order to reverse a tuple, we may need to convert it into a list first, then modify the list, and finally convert it back to a tuple. 

===================================================================

<b>Example 1: </b><br/>

Given tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h') <br/>

<b> Output: </b> <br/>

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')<br/>


===================================================================

<b> Example 2: </b><br/>

Given tuple: (10, 20, 30, 40, 50, 60)<br/>

<b> Output: </b><br/>

(60, 50, 40, 30, 20, 10)

===================================================================

In [12]:
#todo
list1=[]
a_tuple=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
for i in a_tuple:
    list1.append(i)
new_list=list1[::-1]
new_tuple=tuple(new_list)
print(new_tuple)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [11]:
#todo
list1=[]
a_tuple=(10, 20, 30, 40, 50, 60)
list1=list(a_tuple)
new_list=list1[::-1]
new_tuple=tuple(new_list)
print(new_tuple)

(60, 50, 40, 30, 20, 10)

## Part 2: Dictionary

### Task 7
Suppose you are given two dictionaries.\
Now create a new dictionary "marks", merging the two dictionaries, **so that the original two dictionaries remain unchanged.**


**Note:** You can use dictionary functions.

===================================================================

**Given:**

{'Harry':15, 'Draco':8, 'Nevil':19}

{'Ginie':18, 'Luna': 14}

**Output:**

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

===================================================================

**Given:**

{'A':90, 'B': 0}

{'C':50}

**Output:**

{'A': 90, 'B': 0, 'C': 50}

===================================================================

In [13]:
#todo
dict={}
dict1={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}
dict.update(dict1)
dict.update(dict2)
print(dict)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

### Task 8
Write a Python program that takes a dictionary as an input from the user and then prints the average of all the values in the dictionary.

 <font color='red'>[You are not allowed to use len() and sum()]</font>

===================================================================

**Hint (1): For taking dictionary input** 

Approach(1): For taking dictionary as an input from the user, you may take the whole dictionary as a string using the input() function. Then you can use the split(), strip() functions and conditions to get the keys and values from the string. Finally, you can make the dictionary using the obtained data.

Approach(2): If the first approach seems too difficult you can create an empty dictionary and then just run a simple loop. For each iteration ask the user for a key and a value using the input() function and keep updating the dictionary with the key and value.


**Hint (2):** After you have a dictionary, you can use dictionary functions to get all the values from it, run loop to calculate the sum and the total number of values in the dictionary in order to find out the average.

===================================================================

**Sample Input 1:**

{'Jon': 100, 'Dan':200, 'Rob':300}

**Sample Output 1:**

Average is 200.

===================================================================


**Sample Input 2:**

{'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}

**Sample Output 2:**

Average is 110.

===================================================================

In [14]:
#todo
#approach2
dict={}
sum=0
x=int(input('how many elements will be given: '))
for i in range(x):
    k=input('Enter key: ')
    v=int(input('Enter value: '))
    dict[k]=v
val=dict.values()#returns a list of all values in a dictionary
for j in val:
    sum+=j
avg=sum/x
print(avg)

how many elements will be given: 3
Enter key: Jon
Enter value: 100
Enter key: Dan
Enter value: 200
Enter key: Rob
Enter value: 300
200.0

In [17]:
#approach 1
#input: {'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}
dicti=input("enter dict: ")
dic2=dicti[1:-1]#removing brackets
list1=dic2.split(', ')
print(list1)

newdict={}
for i in list1:
    templist=i.split(':')
    #print(templist[0])#contains quotations eg 'Jon'
    #print(templist[1])
    a=templist[0].strip("/'")
    b=int(templist[1])
    newdict[a]=b

#print(newdict)    
val=newdict.values()#returns a list of all values in a dictionary
count=0
sum=0
for j in val:
    sum+=j
    count+=1
avg=sum/count
print(avg)

enter dict: {'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}
["'Jon': 100", "'Dan':200", "'Rob':30", "'Ned':110"]
110.0

### Task 9
Suppose there is a dictionary named exam_marks as given below.

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

Write a Python program that takes an input from the user and creates a new dictionary with only those elements from 'exam_marks' whose keys have values higher than the user input (inclusive).

===================================================================

**Sample Input 1:**

170

**Sample Output 1:**

{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

===================================================================

**Sample Input 2:**

190

**Sample Output 2:**

{'Alden Cantrell': 200, 'Pierre Cox': 190}

===================================================================

In [18]:
#todo
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
x=int(input("enter value: "))
new_dict={}
for key,value in exam_marks.items():
    if (value>=x):
        new_dict[key]=value
print(new_dict)

enter value: 190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

### Task 10
Write a Python program that finds the largest value with its key from a given dictionary.  

<font color='red'>
[You are not allowed to use the max() function for this task]</font> 

**Note:** You do not need to take the dictionaries as an input from the user but your code should work for any given dictionary. Also, you need to handle the quotation marks as a part of the output.

**Hint:** Think of membership operators (in and not in). You can use dictionary functions to get the values.

===================================================================

Sample 1:

**Given:**

{'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

**Output:**

The highest selling book genre is 'mystery' and the number of books sold are 15.

===================================================================

Sample 2:

**Given:**

{'sci fi': 5, 'mystery': 3, 'horror': 14,
             'young_adult': 2, 'adventure':9}

**Output:**

The highest selling book genre is  'horror'  and the number of books sold are 14.

===================================================================

In [19]:
#todo
dict={'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9} 

for i in dict:
  largest=dict[i]#setting largest as first value in dict
  name=i
  break
#print(name)  
for key,value in dict.items():
    if (value > largest):
        largest=value
        name=key
        
print("The highest selling book genre is '"+str(name)+"' and the number of books sold are",largest)

sci fi
The highest selling book genre is 'horror' and the number of books sold are 14

### Task 11
Write a Python program that combines two dictionaries by **adding values for common keys**. 

**Note:** You do not need to take any dictionary as an input from the user but your task should work for any two given dictionaries.

**Hint:** Think of membership operators (in and not in). You can use dictionary functions to get the values. You may need to create a new dictionary to store the combined items.

===================================================================

**Example 1:**

Given:

dict1 = {'a': 10, 'b':20, 'c':30}\
dict2 = {'a': 10, 'c':20, 'd':30, 'e':40}

**Output:**

{'a': 20, 'b': 20, 'c': 50, 'd': 30, 'e': 40}

===================================================================

**Example 2:**

Given:

dict1 = {'chocolate': -100, 'ice_cream': 50}\
dict2 = {'fanta':-500, 'chocolate': -100, '7_up':400}

**Output:**

{'chocolate': -200, 'ice_cream': 50, 'fanta': -500, '7_up': 400}

===================================================================

In [24]:
#to do
dict1 = {'chocolate': -100, 'ice_cream': 50}
dict2 = {'fanta':-500, 'chocolate': -100, '7_up':400}
dict3={}
for key,value in dict1.items():
  if key in dict2:#if common
      dict3[key]=dict1[key]+dict2[key]#adding values
  else:
      dict3[key]=dict1[key]
for key,value in dict2.items():#adding rest/uncommon values
  if key not in dict1:
    dict3[key]=dict2[key]

print(dict3)

{'chocolate': -200, 'ice_cream': 50, 'fanta': -500, '7_up': 400}

### Task 12
Write a Python program which prints the frequency of numbers given as input by the user. You should stop taking input when you find the string "STOP".


**Note:** Use a dictionary to solve the problem

===================================================================

**Sample Input:**

10, 20, 20, 30, 10, 50, 90, 50, 20, STOP

**Sample Output:**

Frequency of numbers:\
10 - 2 times\
20 - 3 times\
30 - 1 times\
50 - 2 times\
90 - 1 times

===================================================================

In [28]:
#to do
dict1={}
while True:
  inp=input("Enter number of STOP to end: ")
  if inp=="STOP":
    break
  else:
    if inp in dict1:
      dict1[inp]+=1
    else:
      dict1[inp]=1
print(dict1) 
print("Frequency of numbers:")
for key,value in dict1.items():
  print(key,'-',value,"times")

Enter number of STOP to end: 10
Enter number of STOP to end: 20
Enter number of STOP to end: 20
Enter number of STOP to end: 30
Enter number of STOP to end: 10
Enter number of STOP to end: 50
Enter number of STOP to end: 90
Enter number of STOP to end: 50
Enter number of STOP to end: 20
Enter number of STOP to end: STOP
{'10': 2, '20': 3, '30': 1, '50': 2, '90': 1}
Frequency of numbers:
10 - 2 times
20 - 3 times
30 - 1 times
50 - 2 times
90 - 1 times

### Task 13
Write a Python program that takes a String as an input from the user and counts the frequency of each character using a dictionary. For solving this problem, you may use each character as a key and its frequency as values. <font color='red'>[You are not allowed to use the count() function]</font> 

**Hint:** You can create a new dictionary to store the frequencies. You may ignore case for simplicity (i.e. may consider P and p to be the same).


===================================================================

**Sample Input:**\
"Python programming is fun"

**Sample Output:**\
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

===================================================================

In [35]:
#todo
input_str= input("Enter a string:")
input_str1 = input_str.lower()
new_dict = {}

for character in input_str1:
    if (character == " "):
        continue
    new_dict[character]=new_dict.get(character,0)+1 #get method returns 0 if key not found, else return value of that key
print(new_dict)

Enter a string:Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [33]:
#todo
input_str= input("Enter a string:")
input_str1 = input_str.lower()
new_dict = {}

for character in input_str1:
    if (character == " "):
        continue
    else:    
      if character in new_dict:
        new_dict[character]+=1
      else:
        new_dict[character]=1
print(new_dict)

Enter a string:Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

### Task 14
Suppose you are given the following dictionary where the values are lists. 

dict = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

Write a Python program that counts the total number of items in a dictionary’s values and prints it. <font color='red'>

[without using sum(), len(), count() functions]</font> 

**Note:**  Make changes to the above dictionary and see if your code works properly for other dictionaries as well.

===================================================================

**Output:**

9

===================================================================

In [36]:
#todo
input_dict = {'A': [1,2,3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
length=0

for key,val in input_dict.items():
    value_list = val
    #print(value_list)
    for character in value_list:
        length +=1
print(length)

9

### Task 15

Suppose you have been given the following list of tuples. 

list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

Write a Python program that converts this list of tuples into a dictionary and then prints the dictionary. 

<font color='red'>[You are not allowed to use set]</font> 


**Hint:** Think of membership operators (in and not in).

===================================================================

**Output:**

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

 ===================================================================

In [37]:
#todo
#todo
list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
new_dict={}

for i in list:
    if i[0] not in new_dict:
        new_dict[i[0]] = [i[1]]
    else:
        new_dict[i[0]].append(i[1])
print(new_dict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

## Optional Tasks (16-21) [Ungraded]

### Task 16

Given a list of tuples, your task is to multiply the elements of the tuple and return a list of multiplied elements as shown below.

===================================================================

**Example 1:**

Given: 

[(2, 3), (4, 5), (6, 7), (2, 8)]

**Output:**

[6, 20, 42, 16]

===================================================================

**Example 2:**

Given:

 [(11, 22), (33, 55), (55, 77), (11, 44)]

**Output:**

[242, 1815, 4235, 484]

===================================================================

In [38]:
#to do
a=[(11, 22), (33, 55), (55, 77), (11, 44)]
new_list=[]
for i in a:
  new_list.append(i[0]*i[1])
print(new_list)

[242, 1815, 4235, 484]

### Task 17

Assume, you have been given a tuple as below.

a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])

Write a Python program that asks the user for an input (can be any data type) and **replaces the last element of each of the inner lists with the user given value.**

===================================================================

**Sample Input 1:**

abc

**Sample Output 1:** 

([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

===================================================================

**Sample Input 1:**

1000

**Sample Output 1:** 

([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

===================================================================

In [40]:
#todo
#tuples are immutable but mutable objects inside tuple (eg lists) can be changed
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
replace=input("enter input: ")
for i in a_tuple:
  #a_tuple[count][len(i)-1]=replace
  i[len(i)-1]=replace
print(a_tuple)

enter input: abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

### Task 18

Suppose there is a dictionary named my_dictionary.

my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}.

Now write a Python program to remove empty items from the dictionary. [Empty items means keys without any values (None)].

===================================================================

**Output:**

{'c1':'Red', 'c2':'Green', 'd4':'Blue'}

===================================================================

In [41]:
#to do
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
b=my_dictionary.copy()
for key,value in b.items():
  if value==None:
    del my_dictionary[key] #The del keyword removes the item with the specified key name:
print(my_dictionary)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [42]:
#to do
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
b=my_dictionary.copy()
for key,value in b.items():
  if value==None:
    my_dictionary.pop(key)#The pop() method removes the item with the specified key name:
print(my_dictionary)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

### Task 19

Suppose you are given a dictionary as shown below. Write a Python program that takes two inputs from the user representing the lower (inclusive) and upper (exclusive) of a range of values. Your task is to extract all the items from the dictionary whose values lie in the range given as input by the user.

dictionary = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}

===================================================================

**Sample Input 1:**

9, 12

**Sample Output 1:**

{'c': 9, 'e': 11}

**Explanation:**  Keys with values within the range of 9 and 11 are extracted.

===================================================================

**Sample Input 2:** 

14, 18

**Sample Output 2 :**

{}

**Explanation:**  No values in range.

===================================================================

In [46]:
#to do
dictionary = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
a=int(input('enter min: '))
b=int(input('enter max: '))
dict2={}
for key,value in dictionary.items():
  if value>=a and value <b:
    dict2[key]=value
print(dict2)

enter min: 9
enter max: 12
{'c': 9, 'e': 11}

### Task 20

Given a list of tuples, your task is to group the tuples based on the **second** element in the tuples as shown in the examples below. We can achieve this using **dictionary** by checking the second element in each tuple.

[You do not need to take tuple as input and can assume that it is given as below]

===================================================================

**Example 1:**

Given:

[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]

**Output:**

{80: [(20, 80), (31, 80)],\
         11: [(88, 11), (27, 11)],\
         22: [(1, 22)]}
       
===================================================================

**Example 2:**

Given:

[(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]

**Output:**

{'NotSad': [(88, 'NotSad'), (27, 'NotSad')],\
         'Sad: [(20, 'Sad'), (31, 'Sad')]}

===================================================================

In [47]:
#todo
list1=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
dictionary={}
for i in list1:
      second_elem=i[1]
      if i[1] not in dictionary:#if that key has no value
        dictionary[second_elem]=[i]
      else:
        dictionary[second_elem].append(i)  
print(dictionary)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

### Task 21


Write a python program that takes 2 inputs from the user. 

* Input1: A string containing a single sentence or multiple sentences. Multiple sentences are separated by full stops.
* Input2: A list containing special characters.

After taking the inputs, your task is to create a dictionary where the **keys** will be the corresponding special characters from the given list and the **values** will be the words in the given sentence. 

You need to find out which key belongs to which value. To do that, you should calculate the **index number** using the formula given below. **The calculated index is the corresponding key of the word.** Make sure no duplicate values are inserted.

&nbsp;&nbsp;&nbsp;&nbsp;

**The formula:**\
**<font color='blue'>*Index value of special character list = (ASCII sum of the word) % (length of special character list)*</font>**


=============================================================================


**Sample Input 1**:\
'I love Programming. Python is love.'\
['@', '$', '&', '#']
 
**Sample Output 1**:\
Words in the given String: ['I', 'love', 'Programming', 'Python', 'is', 'love']\
Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}
 
**Explanation 1:**\
From the string 'I love Programming. Python is love.' the {key: value} pair is calculated accordingly:


| Word | ASCII sum|List length|Calculated index|Key|
| --- | --- | --- | --- | --- | 
|I| 73|4| 73%4 = 1|'$'|
|  |  |  |  |  |
|love| 438|4| 438%4 = 2|'&'|
|  |  |  |  |  |
|Programming| 1155|4| 1155%4 = 3|'#'|
|  |  |  |  |  |
|Python| 642|4| 642%4 = 2|'&'|
|  |  |  |  |  |
|is| 220|4| 220%4 = 0|'@'|
|  |  |  |  |  |
|love| 438|4| 438%4 = 2|'&'|
|  |  |  |  |  |


The calculation is shown in the given table. Full stops after ‘Programming.’ and ‘love.’ are avoided. Also, the last word ‘love’ is a duplicate, and therefore, it was not inserted again as a value. 



=============================================================================


**Sample Input 2**:\
'The secret of getting ahead is getting started.'\
['-', '=', '+', '*', '%']
 
**Sample Output 2:**\
Words in the given String: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']\
Answer: {'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '*': ['of'], '-': ['is']}
 
**Explanation 2:**\
From the string 'The secret of getting ahead is getting started.' the {key: value} pair is calculated accordingly:


| Word | ASCII sum|List length|Calculated index|Key|
| --- | --- | --- | --- | --- | 
|The| 289|5| 289%5 = 4|'%'|
|  |  |  |  |  |
|secret| 646|5| 646%5 = 1|'='|
|  |  |  |  |  |
|of| 213|5| 213%5 = 3|'*'|
|  |  |  |  |  |
|getting| 754|5| 754%5 = 4|'%'|
|  |  |  |  |  |
|ahead| 499|5| 499%5 = 4|'%'|
|  |  |  |  |  |
|is| 220|5| 220%5 = 0|'-'|
|  |  |  |  |  |
|getting| 754|5| 754%5 = 4|'%'|
|  |  |  |  |  |
|started| 759|5| 759%5 = 4|'%'|
|  |  |  |  |  |


The calculation is shown in the given table. Full stop after ‘started.’ is avoided. Also, the word ‘getting’ is a duplicate and therefore it was not inserted again as a value. 

=============================================================================

In [61]:
#to do
inp1=input("enter string: ")
inp2=input("enter list: ")
['-', '=', '+', '*', '%']

#creating list from inp2
inp2=inp2[1:-1]#removing brackets
inp2=inp2.split(',')
for i in range(len(inp2)):
  temp=inp2[i].strip(" ")#removing white space
  temp=temp.strip("/'")#removing quotation
  inp2[i]=temp
print(inp2)
#--------------------


list1=inp1.split(' ')
#print(list1)
for i in range(len(list1)):#removing '.'
  list1[i]=list1[i].strip('.')
#print(list1) #words with duplicates 
list2=[]#words without any duplicates
for i in list1:
  if i not in list2:
    list2.append(i)
print(list2)    

dict1={}
for word in list2:
  sum=0
  for char in word:
    sum+=ord(char)
  index=int(sum%len(inp2)) 
  if inp2[index] not in dict1:
    dict1[inp2[index]]=[word]
  else:
    dict1[inp2[index]].append(word)

print("Words in the given String:",list1)
print("Answer:",dict1)

enter string: I love Programming. Python is love.
enter list: ['@', '$', '&', '#']
['@', '$', '&', '#']
['I', 'love', 'Programming', 'Python', 'is']
Words in the given String: ['I', 'love', 'Programming', 'Python', 'is', 'love']
Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}

In [56]:
#to do #same without the inputs
inp1='The secret of getting ahead is getting started.'
inp2=['-', '=', '+', '*', '%']

list1=inp1.split(' ')
print(list1)
for i in range(len(list1)):#removing '.'
  list1[i]=list1[i].strip('.')
print(list1) #words with duplicates 
list2=[]#words without any duplicates
for i in list1:
  if i not in list2:
    list2.append(i)
print(list2)    

dict1={}
for word in list2:
  sum=0
  for char in word:
    sum+=ord(char)
  index=int(sum%len(inp2)) 
  if inp2[index] not in dict1:
    dict1[inp2[index]]=[word]
  else:
    dict1[inp2[index]].append(word)

print("Words in the given String:",list1)
print("Answer:",dict1)

['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started.']
['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']
['The', 'secret', 'of', 'getting', 'ahead', 'is', 'started']
Words in the given String: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']
Answer: {'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '*': ['of'], '-': ['is']}

In [ ]:
Words in the given String: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']
Answer: {'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '*': ['of'], '-': ['is